

body {
  background-image: url("pokeball.png");
  background-repeat: repeat-y;
  color: #3B4CCA;
  margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
  font-family: sans-serif;
  color:yellow;
  text-shadow: 3px 0 0 rgb(0, 38, 255), 0 -3px 0 rgb(0, 38, 255), 0 3px 0 rgb(0, 38, 255), -3px 0 rgb(0, 38, 255);

}

.bg-steel {
  background-color:red;
}

.site-header .navbar-brand {
  font-family: sans-serif;
  font-size: 25px;
  color:yellow;
  text-shadow: 3px 0 0 rgb(0, 38, 255), 0 -3px 0 rgb(0, 38, 255), 0 3px 0 rgb(0, 38, 255), -3px 0 rgb(0, 38, 255);

   
}

.site-header .navbar-nav .nav-link {
  font-family: sans-serif;
  color:yellow;
  text-shadow: 2px 0 0 rgb(0, 38, 255), 0 -2px 0 rgb(0, 38, 255), 0 2px 0 rgb(0, 38, 255), -2px 0 rgb(0, 38, 255);

}

.site-header .navbar-nav .nav-link:hover {
  font-size: larger;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  font-family: sans-serif;
  background: whitesmoke;
  color: #eeff00;
  text-shadow: 1px 0 0 rgb(0, 38, 255), 0 -1px 0 rgb(0, 38, 255), 0 1px 0 rgb(0, 38, 255), -1px 0 rgb(0, 38, 255);

  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}
.register-login {
  font-family: sans-serif;
  background: whitesmoke;
  background-size: auto;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -100px;
  
}

.article-title {
  color: #ff0000;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

.btn-primary{
  color:#333;
  background-color: #ff0000;

}

label {
  font-family: sans-serif;
  font-size: 5px;
  color:blue;
}

footer {
  position:absolute;
  bottom:0;
  width:100%;
  height:60px;   /* Height of the footer */
  text-align: right;
}
