  body {
    background-image: url("pokedex_wallpaper2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    height: 100%;
    width: 100%;
    color: #1129e0;
    margin: 0;
  }
  
  h4 {
    font-family: Impact, fantasy;
    color:gold;
    -webkit-text-stroke: 0.3px black;
    text-align: center;
  }
  
  h1, h2, h3, h5, h6 {
    font-family: Impact, fantasy;
    font-size: 35px;
    padding: 10px;
    color: white;
    text-align: center;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
  }
  
  .header {
    text-align: center;
  }
  
  .top-nav {
    overflow: hidden;
    background-color: black;
  }
  
  .top-nav a{
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 18px 25px;
    text-decoration: underline;
  }
  
  .top-nav a:hover {
    background-color: gold;
    color: black;
    text-decoration: underline;
  }

  input[type=text] {
    width: 50%;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid black;
    border-radius: 3px;
    background-image: url("searchicon.png");
    background-position: 10px 10px;
    background-repeat: no-repeat;
    box-sizing: border-box;
    align-items: center;
    background-color: black;
    color: white;
  }
  .card-search {
    margin-left: 40%;
    margin-right: 32%;
    opacity: 0.85;
  }
  
  #submit-button {
  width: 100px;
  background-color: blue;
  padding: 7px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  }
  
  #card-container {
    align-content: center;
    margin-left: 5.5%;
  }
  