<!-- {% extends "layout.html" %} -->
{% block content %}
{% if userName %}
<h1>Pokémon - Edit Post For {{userName}}</h1>
{% endif %}

<table align="center" class="table align-middle table-bordered table-striped table-dark table-hover" text-align="center" id="dataMediaPosts">
    <thead class="thead-dark">
        <tr>
            <th>Post</th>
            <th>User</th>
        </tr>
    </thead>
    <tbody>
        
        {% for mPosts in dataMediaPosts|reverse %}
        <tr>
            {% if mPosts.image %}
            <td>{{mPosts.post}}
                <a class="lightbox" href="#{{ mPosts.image }}">
   <img src="../static/profile_pics/{{mPosts.image}}"class="photo" width="150" height="150"/>
</a>
<div class="lightbox-target" id="{{ mPosts.image }}">
   <img src="../static/profile_pics/{{mPosts.image}}"/>
   <a class="lightbox-close" href="#"></a>
</div>

    <form method="POST"  enctype="multipart/form-data" id="mediaForm">
        <label for="message" style="font-size: 12px; color: white;">Edit Message</label><br>
        <textarea name="message" id="message" class="form-control">{{mPosts.post}}</textarea>
        <br>
        <input type="file" id="img" name="img" accept="image/*">
        <br>
        <div align="center">
            <button type="submit" class="publish">Submit</button>
        </div>
    </form>
    </td>
        <td>{{mPosts.username}}</td>
        
        {% else %}
        <td>{{mPosts.post}}
            <form method="POST"  enctype="multipart/form-data" id="mediaForm">
                <label for="message" style="font-size: 12px; color: white;">Edit Message</label><br>
                <textarea name="message" id="message" class="form-control">{{mPosts.post}}</textarea>
                <br>
                <input type="file" id="img" name="img" accept="image/*">
                <br>
                <div align="center">
                    <button type="submit" class="publish">Submit</button>
                </div>
            </form>
        </td>

        <td>{{mPosts.username}}</td>
     
        {% endif %}
        </tr>
        {% endfor%}
    </tbody>
</table>

<br />


{% endblock content %}
