
{% extends "layout.html" %}



{% block content %}
  
{% if userName %}
<h1>Pokèmon - Welcome {{userName}}</h1>
{% else %}
<h1>Pokèmon- HomePage</h1>

{% endif %}

<div class="col-md-4">
    <div class="content-section">
      <h3>Pokèmon Nav</h3>
      <p class='text-muted'>
        <ul class="list-group">
          <a class="nav-item nav-link" href="{{ url_for('socialMedia')}}">Latest Posts</a>
          <a class="nav-item nav-link" href="{{ url_for('PokemonHome')}}">PokemonCards</a>
        </ul>
        <h3>Popular Card Stores</h3>
        <ul class="list-group">
          <a class="nav-item nav-link" href="https://store.tcgplayer.com/help/pokemon" target="_blank">TCGPlayer</a>
        </ul>
        
        <h3>Offical Pokemon Content</h3>
        <ul class="list-group">
          <a class="nav-item nav-link" href="https://www.pokemon.com/us/" target="_blank">Offical Website</a>
          <a class="nav-item nav-link" href="https://www.facebook.com/Pokemon/" target="_blank">Facebook</a>
          
        </ul>
      </p>
    </div>
  </div>

{% endblock content %}
