<!-- {% extends "layout.html" %} -->
<script type="text/javascript">

var randomPic = [
  "../static/css/snorlax.png",
  "../static/css/bulbasaur.png", 
  "../static/css/poliwhirl.png"
];

function getImage() {
  var img = '<img src=\"';
  var random = Math.floor(Math.random() * randomPic.length);
  img += randomPic[random];
  img += '\" alt = \"Pokemon\" />'
  return img;
}
</script>
{% block content %}

{% if userName %}
<h2> Welcome {{userName}} !</h2>
{% else %}
<h2 class="header"> Homepage </h2>

{% endif %}
<body>
<div class="row">
  <div class="column left">
    <h4>Pokémon Nav</h4>
        <a class="nav-item nav-link" href="{{ url_for('socialMedia')}}">Latest Posts</a>
        <a class="nav-item nav-link" href="{{ url_for('PokemonHome')}}">PokemonCards</a>
      <h4>Popular Card Stores</h4>
        <a class="nav-item nav-link" href="https://store.tcgplayer.com/help/pokemon" target="_blank">TCGPlayer</a>
      <h4>Offical Pokémon Content</h4>  
        <a class="nav-item nav-link" href="https://www.pokemon.com/us/" target="_blank">Offical Website</a>
        <a class="nav-item nav-link" href="https://www.facebook.com/Pokemon/" target="_blank">Facebook</a>
    </div>

    <div class="column middle">
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tenetur harum nulla blanditiis rerum deserunt
         aut voluptate nobis neque magni, in velit laudantium, facere quibusdam ullam temporibus voluptatum deleniti
         molestias doloremque.</p>
    </div>
  
    <div class="column right">
      <h3 class="guess"> Who's that Pokémon?!</h3>
      <br>
      <img src="../static/css/snorlax.png" id="char" alt="Pokemon">
      
    </div>
</body>
{% endblock content %}