{% extends "layout.html" %}



{% block content %}

{% if userName %}
<h2><img src="../static/css/pokemon_logo.png" class="logo" alt="Pokemon Logo"> Welcome {{userName}}</h2>
{% else %}
<img src="../static/css/pokemon_logo.png" class="logo" alt="Pokemon Logo">
<h2 style="color: white;"> Homepage </h2>

{% endif %}

<div class="col-md-4">
    <div class="content-section">
      <h4>Pokémon Nav</h4>
      <p class='text-muted'>
        <ul class="list-group">
          <a clcass="nav-item nav-link" href="{{ url_for('socialMedia')}}">Latest Posts</a>
          <a class="nav-item nav-link" href="{{ url_for('PokemonHome')}}">PokemonCards</a>
        </ul>
        <h4>Popular Card Stores</h4>
        <ul class="list-group">
          <a class="nav-item nav-link" href="https://store.tcgplayer.com/help/pokemon" target="_blank">TCGPlayer</a>
        </ul>

        <h4>Offical Pokémon Content</h4>
        <ul class="list-group">
          <a class="nav-item nav-link" href="https://www.pokemon.com/us/" target="_blank">Offical Website</a>
          <a class="nav-item nav-link" href="https://www.facebook.com/Pokemon/" target="_blank">Facebook</a>

        </ul>
      </p>
    </div>
  </div>

{% endblock content %}