<!Doctype html> <!--  This html is like parent of all the other html files, use the blcok content to post unique things about that html file-->
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <script src="../static/guessPokemon.js"></script>

   {% if title %}
    <title> Pokémon- {{ title }}</title>
   {% else %}
        <title> Pokémon-</title>
   {% endif %}

</head>

<body>
  
  <!-- Navbar Right Side -->
  <div class="top-nav">
      {% if userName %}
      <a class="nav-bar" href="{{ url_for('home')}}">Home</a>
      <a class="nav-bar" href="{{ url_for('socialMedia')}}">Forum</a>
      <a class="nav-bar" href="{{ url_for('profile')}}">Profile</a>
      <a class="nav-bar" href="{{ url_for('myList')}}">MyList</a>
      <a class="nav-bar" href="{{ url_for('displayMyList')}}">Collection</a>
      {% if admin %}
      <a class="nav-bar" href="{{ url_for('admin')}}">Admin</a>
      {% endif %}
      <a class="nav-bar" href="{{ url_for('logout')}}">Sign Out</a>
      {% else %}
      <a class="nav-bar" href="{{ url_for('home')}}">Home</a>
      <a href="{{ url_for('login')}}">Sign In</a>
      <a class="nav-bar" href="{{ url_for('register')}}">Register</a>
      {% endif %}
    </div>
  

  <!-- <main role="main" class="container"> -->
    <!-- <div class="col-md-8"> -->
<div class="header">
  <a class="navbar-brand" href="{{ url_for('PokemonHome')}}"><img src="../static/css/pokemon_logo.png" class="logo" alt="Pokemon Logo"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
  </button>
</div>

      {% with messages = get_flashed_messages(with_categories=true) %} 
      {% if messages %}
      {% for category, message in messages %}
        <div class="alert alert-{{category}}">
          {{ message }}
        </div>
      {% endfor %}
      {% endif %}
      {% endwith %}

      {% block content %}{% endblock %}
      <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs=" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </div>
    
  <!-- </main> -->


  <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    

</body>
</html>
