<!-- {% extends "layout.html" %} -->
<link rel="stylesheet" href="../static/css/socialMedia.css">
{% block content %}


{% if userName %}
<h1>Pokémon - Profile of {{userName}}</h1>
{% endif %}

<table align="center" class="table align-middle table-bordered table-striped table-dark table-hover" text-align="center" id="dataMediaPosts">
    <caption>List of previous posts</caption>
    <thead class="thead-dark">
        <tr align="center">
            <th>Post</th>
            <th>User</th>
            <th>Post Link</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        {% for mPosts in dataMediaPosts|reverse %}
        <tr>
            {% if mPosts.image %}
            <td>{{mPosts.post}}
<a class="lightbox" href="#{{ mPosts.image }}">
   <img src="../static/profile_pics/{{mPosts.image}}"class="photo" width="150" height="150"/>
</a>
<div class="lightbox-target" id="{{ mPosts.image }}">
   <img src="../static/profile_pics/{{mPosts.image}}"/>
   <a class="lightbox-close" href="#"></a>
</div>
    </td>
            <td>{{mPosts.username}}</td>
            <td><a data-method="POST" href = {{ url_for('viewPost' ,id=mPosts.post_id) }}>View Post</a></td>
            <td><a data-method="GET" href = {{ url_for('editPost' ,id=mPosts.post_id) }}>Edit</a></td>
            <td><a data-method="DELETE" href = {{ url_for('deletePost' ,id=mPosts.post_id) }}>Delete</a></td>
            {% else %}
            <td>{{mPosts.post}}</td>
            <td>{{mPosts.username}}</td>
            <td><a data-method="POST" href = {{ url_for('viewPost' ,id=mPosts.post_id) }}>View Post</a></td>
            <td><a data-method="GET" href = {{ url_for('editPost' ,id=mPosts.post_id) }}>Edit</a></td>
            <td><a data-method="DELETE" href = {{ url_for('deletePost' ,id=mPosts.post_id) }}>Delete</a></td>
            {% endif %}
        </tr>
        {% endfor%}
    </tbody>
</table>
<br />


{% endblock content %}
