
{% extends "layout.html" %}
{% block content %}
{% if userName %}
<h1 text-align="center"> Welcome to our Social Media forum! {{userName}}</h1>
<br />
<h2 text-align="center"> This is a test for our Forum Page</h2>
<form method="POST" enctype="multipart/form-data">
    <textarea name="mediaPost" id="mediaPost" class="form-control"></textarea>
    <label for="img">Select image:</label>
    <input type="file" id="img" name="img" accept="image/*">
    <div text-align="center">
        <button type="submit" class="btn btn-primary"> Publish Post</button>
    </div>
</form>
<br />
<table class="table align-middle table-bordered table-striped table-dark table-hover" text-align="center" id="dataMediaPosts">
    <caption>List of pervious posts</caption>
    <thead class="thead-dark">
        <tr>
            <th>Post</th>
            <th>User</th>
        </tr>
    </thead>
    <tbody>
        {% for mPosts in dataMediaPosts %}
        <tr>
            {% if mPosts.image %}
            <td>{{mPosts.post}}   <img src="../static/profile_pics/{{mPosts.image}}" width="150" height="150"/></td>
            <td>{{mPosts.username}}</td>
            {% else %}
            <td>{{mPosts.post}}</td>
            <td>{{mPosts.username}}</td>
            {% endif %}
        </tr>
        {% endfor%}
    </tbody>
</table>
<br />

{% endif %}
{% endblock content %}
