{% extends "layout.html" %}
{% block content %}


{% if userName %}

{% if admin %}
<h1>Pokemon Admin</h1>
{% else %}
<h1>Pokemon User</h1>
{% endif %}

{% endif %}

<table align="center" class="table align-middle table-bordered table-striped table-dark table-hover" text-align="center" id="dataMediaPosts">
    <thead class="thead-dark">
        <tr>
            <th>Post</th>
            <th>User</th>
        </tr>
    </thead>
    <tbody>
        {% for mPosts in dataMediaPosts %}
        <tr>
            {% if mPosts.image %}
            <td>{{mPosts.post}}   
                <a class="lightbox" href="#{{ mPosts.image }}">
                <img src="../static/profile_pics/{{mPosts.image}}"class="photo" width="150" height="150"/>
             </a>
             <div class="lightbox-target" id="{{ mPosts.image }}">
                <img src="../static/profile_pics/{{mPosts.image}}"/>
                <a class="lightbox-close" href="#"></a>
             </div>
            </td>
            <td>{{mPosts.username}}</td>
            {% else %}
            <td>{{mPosts.post}}</td>
                 <img src="../static/profile_pics/{{mPosts.image}}"class="photo" width="150" height="150"/>
             </a>
             <div class="lightbox-target" id="{{ mPosts.image }}">
                <img src="../static/profile_pics/{{mPosts.image}}"/>
                <a class="lightbox-close" href="#"></a>
            <td>{{mPosts.username}}</td>
            {% endif %}
        </tr>
        {% endfor%}
    </tbody>
</table>
<br />

<h1>What are your thoughts?</h1>
<form method="POST" enctype="multipart/form-data">
    <textarea name="commentPost" id="commentPost" class="form-control"></textarea>
    <label for="img">Select image:</label>
    <input type="file" id="img" name="img" accept="image/*">
    <div align="center">
        <button type="submit" class="btn btn-primary"> Publish Comment</button>
    </div>
</form>
<br />
{% if commentsMediaPosts %}
<h1>Comments</h1>
<table class="table align-middle table-bordered table-striped table-dark table-hover" text-align="center" id="commentsMediaPosts">
    <thead class="thead-dark">
        <tr>
            <th>Post</th>
            <th>User</th>
        </tr>
    </thead>
    <tbody>
        {% for cPosts in commentsMediaPosts|reverse  %}
        <tr>
            {% if cPosts.image %}
            <td>{{cPosts.comment}}   
                <a class="lightbox" href="#{{ mPosts.image }}">
                <img src="../static/profile_pics/{{mPosts.image}}"class="photo" width="150" height="150"/>
             </a>
             <div class="lightbox-target" id="{{ mPosts.image }}">
                <img src="../static/profile_pics/{{mPosts.image}}"/>
                <a class="lightbox-close" href="#"></a>
             </div>
            </td>
            <td>{{cPosts.username}}</td>
            {% else %}
            <td>{{cPosts.comment}}</td>
            <td>{{cPosts.username}}</td>
            {% endif %}
        </tr>
        {% endfor%}
    </tbody>
</table>
{% else %}
<br />

{% endif %}
<br />


{% endblock content %}
