{% extends "layout.html" %}
{% block content %}
  <!-- the posts is sent in from the blogpost.py and its Dummy data right now that acts like it got it from a database of blogs to post to the main page -->

  {% for post in posts %}
    <article class="media content-section">
        <div class="media-body">
          <div class="article-metadata">
            <a class="mr-2" href="#">{{ post.author }}</a>
            <small class="text-muted">{{ post.date_posted }}</small>
          </div>
          <h2><a class="article-title" href="#">{{ post.title }}</a></h2>
          <p class="article-content">{{ post.content }}</p>
        </div>
    </article>
  {% endfor %}

{% endblock content %}
