<script src="../static/script.js" defer></script>
<link rel="stylesheet" href="../static/styles/style.css" />
<h1>PokeDex
    <form action="/actionpage">
  <label form="poke_type">Choose a type:</label>
  <select name="pokeType" id="pokeType">
    <option value="fire">fire</option>
    <option value="grass">grass</option>
    <option value="electric">electric</option>
    <option value="water">water</option>
      <option value="ground">ground</option>
      <option value="rock">rock</option>
      <option value="fairy">fairy</option>
      <option value="poison">poison</option>
      <option value="bug">bug</option>
      <option value="dragon">dragon</option>
      <option value="psychic">psychic</option>
      <option value="flying">flying</option>
  </select>

  <br><br>
  <input type="submit" value="Submit">
</form>
</h1>


<div id="poke_container" class="poke-container"></div>

